# Node / Frontend
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# K8s / KinD
*.kubeconfig
kubeconfig

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store

#Local Skills
.agents
